<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Home</a>
    <!--<a class="c-navigation__item {% if page.url == '/project/' %}is-active{% endif %}" href="{{ "/project/" | prepend: site.baseurl }}">Project</a>-->
    <!--<a class="c-navigation__item {% if page.url == '/blog/' %}is-active{% endif %}" href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a>-->
    <a class="c-navigation__item {% if page.url == '/study/' %}is-active{% endif %}" href="{{ "/study/" | prepend: site.baseurl }}">Study</a>
    <!--<a class="c-navigation__item {% if page.url == '/about/' %}is-active{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}">About</a>-->
  </div>
</nav>
