<!DOCTYPE html>
<html class="t-{{ site.themeColor }}">
<head>
<meta property="og:type" content="Developer"> 
<meta property="og:title" content="백엔드 개발자가 되고 싶은 니리니리">
<meta property="og:description" content="Java(Spring), DB, HTML 등 웹개발에 대한 부분들을 다양하게 다룹니다.">
<meta property="og:image" content="https://raw.githubusercontent.com/iamheonil/iamheonil.github.io/master/tradeMark.png">
<meta property="og:url" content="https://iamheonil.github.io/">
</head>
  {% include head.html %}
  <body>
    {% include navigation.html %}

    {{ content }}

    {% include footer.html %}
  </body>
</html>
